body {
    margin: 1vw;
    padding: 1vw;
    border: 1px solid black;

    font-size: 1.5vw;
}

a {
    color: #72007a;
    text-decoration: none;
}
header > h1 {
    text-align: center;
}
nav {
    text-align: center;
    margin: 1vw;
}
nav a{
    text-decoration: none;
}

main {
    border: 1px solid black;
    margin: .8vw;
    padding: .8vw;
}
main > h2 {
    text-align: center;
}

footer {
    text-align: center;
}
footer a {
    border: 1px solid #6ab43d;
    background-color: #6ab43d;

    border-radius: 5px;
    
    color: #72007a;
    text-decoration: none;

    padding: .2vw;
    margin: .2vw;
}
footer a strong{
    background-color: #72007a;
    color: #6ab43d;
    padding: .1vw;
    border: 1px solid #72007a;
    border-radius: 5px;
}
footer a:hover {
    background-color: #72007a;
    color: #6ab43d;
}
footer a:hover strong{
    background-color: #6ab43d;
    color:#72007a;
}