body {
    margin: 1vw;
    padding: 1vw;
    border: 1px solid black;
}

a {
    color: #72007a
}


.grid-container {
    display: grid;
    grid-gap: .2vw;

    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    'img head img2'
    'nav nav nav'
    'begin inter adv'
    'foot foot foot';
}

.imega {
    grid-area: img;
    float: left;
}
.imega2 {
    grid-area: img2;
    float: right;
}
.imega > img {
    float: right;
}
.imega2 > img {
    float: left;
}
.imega > img, .imega2 > img{
    width: 5vw;
}

header {
    grid-area: head;
}
header > h1 {
    text-align: center;
    font-size: 3vw;
}
/*
header > img {
    width: 5vw;
    display: inline;
}
*/

nav {
    grid-area: nav;
    text-align: center;
    margin: 1vw;
    font-size: 1.2vw;
}
nav a{
    text-decoration: none;
}

.beginner {
    grid-area: begin;
}
.intermediate {
    grid-area: inter;
}
.advanced {
    grid-area: adv;
}

.beginner, .intermediate, .advanced {
    margin: .8vw;
    padding: .8vw;
    border: 1px solid black;
}
.beginner > h2, .intermediate > h2, .advanced > h2 {
    font-size: 2.2vw;
    text-align: center;
}

.beginner a, .intermediate a, .advanced a {
text-decoration: none;
}

footer {
    font-size: 1vw;
    grid-area: foot;
    text-align: center;
}
footer a {
    border: 1px solid #6ab43d;
    background-color: #6ab43d;

    border-radius: 5px;
    
    color: #72007a;
    text-decoration: none;

    padding: .2vw;
    margin: .2vw;
}
footer a strong{
    background-color: #72007a;
    color: #6ab43d;
    padding: .1vw;
    border: 1px solid #72007a;
    border-radius: 5px;
}
footer a:hover {
    background-color: #72007a;
    color: #6ab43d;
}
footer a:hover strong{
    background-color: #6ab43d;
    color:#72007a;
}