


.grid-container {
    display: grid;
    grid-gap: .2vw;

    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    'img head img2'
    'nav nav nav'
    'begin inter adv'
}

.imega {
    grid-area: img;
    float: left;
}
.imega2 {
    grid-area: img2;
    float: right;
}
.imega > img {
    float: right;
}
.imega2 > img {
    float: left;
}
.imega > img, .imega2 > img{
    width: 5vw;
}

header {
    grid-area: head;
}
header > h1 {
    text-align: center;
}
/*
header > img {
    width: 5vw;
    display: inline;
}
*/

nav {
    grid-area: nav;
    text-align: center;
    margin: 1vw;
}
nav a{
    text-decoration: none;
}

.beginner {
    grid-area: begin;
}
.intermediate {
    grid-area: inter;
}
.advanced {
    grid-area: adv;
}

.beginner, .intermediate, .advanced {
    margin: .8vw;
    padding: .8vw;
    border: 1px solid black;
}
.beginner > h2, .intermediate > h2, .advanced > h2 {
    text-align: center;
}

.beginner a, .intermediate a, .advanced a {
text-decoration: none;
}